set ignorecase
set smartcase
set hlsearch
set incsearch
set hlsearch
set gdefault
set visualbell
set noerrorbells

set surround
set commentary

noremap \ ,
let mapleader = ","
imap jk <esc>
imap kj <esc>

map Y y$
noremap 0 ^
noremap ^ 0
noremap gj J
noremap <leader>o o<CR>
noremap <leader>O O<esc>O

vnoremap m aBVo^

" Search for text under visual selection
vnoremap // y/\V<C-R>"<CR>

noremap <C-j> 5<C-e>
noremap <C-k> 5<C-y>

noremap <leader>y "+y
noremap <leader>Y "+Y
noremap <leader>p "+p
noremap <leader>P "+P

nnoremap <S-j> gT
nnoremap <S-k> gt

nnoremap <A-j> ]}
nnoremap <A-k> [{
vnoremap <A-j> ]}
vnoremap <A-k> [{

nnoremap <leader><space> :nohlsearch<CR>


" RIDER SHORTCUTS
nnoremap gh :action ShowErrorDescription<CR>

nnoremap <leader>w :action CloseEditor<CR>
nnoremap <leader>s :action SaveDocument<CR>
nnoremap <leader>r :action RenameElement<CR>



nnoremap <leader>fd :action ReformatCode<CR>
nnoremap <leader>b :action ToggleBookmark<CR>
nnoremap <leader><leader> :action GotoAction<CR>
nnoremap <leader>m :action FileStructurePopup<CR>
nnoremap <leader>. :action GotoFile<CR>

vnoremap <leader>fd :action ReformatCode<CR>
vnoremap <leader>b :action ToggleBookmark<CR>
vnoremap <leader><leader> :action GotoAction<CR>
vnoremap <leader>m :action FileStructurePopup<CR>
vnoremap <leader>. :action GotoFile<CR>

