set ignorecase
set smartcase
set hlsearch
set incsearch
set hlsearch
set gdefault

set surround
set visualbell
set noerrorbells

noremap \ ,
let mapleader = ","
imap jk <esc>
imap kj <esc>

map Y y$
noremap 0 ^
noremap ^ 0
noremap j gj
noremap k gk
noremap gj J
noremap <leader>o o<CR>
noremap <leader>O O<esc>O

vnoremap m aBVo^

noremap <C-j> 5<C-e>
noremap <C-k> 5<C-y>
noremap <leader>y "+y
noremap <leader>p "+p


nnoremap <leader><space> :nohlsearch<CR>

" RIDER SHORTCUTS
nmap gh :action ShowErrorDescription<CR>
nmap gi :action GoToImplementation<CR>

nmap <leader>fd :action ReformatCode<CR>
vmap <leader>fd :action ReformatCode<CR>

nmap <S-j> :action PreviousTab<CR>
nmap <S-k> :action NextTab<CR>

nmap <leader>w :action CloseActiveTab<CR>
nmap <leader>s :action SaveDocument<CR>

nmap <leader><leader> :action SearchEverywhere<CR>
nmap <leader>m :action GotoSymbol<CR>
nmap <leader>. :action GotoFile<CR>
